---
swagger: "2.0"
info:
  description: "This Api exposes the EPA's [ToxCast summary dataset](https://www.epa.gov/chemical-research/toxicity-forecaster-toxcasttm-data)\
    \ (October 2015 release).\n\nTo learn more about this api, check out the [github\
    \ repository](https://github.com/douglasconnect/opentox-toxcast).\n\nThe ToxCast\
    \ database contains data for a single chemical endpoint pair for thousands of\
    \ chemicals and 821 assay endpoints for 20 variables such\nas the activity or\
    \ hit call, activity concentrations, whether the chemical was tested in a specific\
    \ assay, etc.\n"
  version: "1.0.0"
  title: "ToxCast databse API - assay, compound and assay results values for tested\
    \ compounts."
host: "toxcast-api.cloud.douglasconnect.com"
basePath: "/beta"
schemes:
- "http"
produces:
- "application/json"
paths:
  /assays:
    get:
      tags:
      - "assay"
      summary: "Get assay data"
      description: "Returns a list of assays (assay endpoints)"
      operationId: "assays_get"
      produces:
      - "application/json"
      parameters:
      - name: "offset"
        in: "query"
        description: "Number of assay endpoints to skip (for paging)"
        required: false
        type: "integer"
      - name: "limit"
        in: "query"
        description: "Maximum count of assay endpoints to return (for paging)"
        required: false
        type: "integer"
        default: 10
      - name: "query"
        in: "query"
        description: "Query string for the full text search"
        required: false
        type: "string"
      - name: "aidFilter"
        in: "query"
        description: "Filter by assay IDs"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "csv"
      - name: "aeidFilter"
        in: "query"
        description: "Filter by assay endpoint ID (most specific assay related ID)"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "csv"
      - name: "asidFilter"
        in: "query"
        description: "Filter by study IDs"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "csv"
      - name: "cellFormatFilter"
        in: "query"
        description: "Filter by Cell Format"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "csv"
      - name: "detectionTechnologyTypeFilter"
        in: "query"
        description: "Filter by detection technology type filter"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "csv"
      - name: "intendedTargetFamilyFilter"
        in: "query"
        description: "Filter by intended target family type"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "csv"
      - name: "intendedTargetTypeFilter"
        in: "query"
        description: "Filter by intended target type"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "csv"
      - name: "organismFilter"
        in: "query"
        description: "Filter by Organism"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "csv"
      - name: "technologicalTargetTypeFilter"
        in: "query"
        description: "Filter by technological target type"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "csv"
      - name: "timepointHrFilter"
        in: "query"
        description: "Filter by Timepoint Hr"
        required: false
        type: "array"
        items:
          type: "number"
        collectionFormat: "csv"
      - name: "TissueFilter"
        in: "query"
        description: "Filter by Tissue"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "csv"
      responses:
        200:
          description: "A list of assay endpoints and aggregations"
          schema:
            $ref: "#/definitions/Assays"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "controllers.assay_controller"
      x-tags:
      - tag: "assay"
  /compounds:
    get:
      tags:
      - "compound"
      summary: "Get compound data"
      description: "Returns a list of compounds"
      operationId: "compounds_get"
      produces:
      - "application/json"
      parameters:
      - name: "offset"
        in: "query"
        description: "Number of assay endpoints to skip (for paging)"
        required: false
        type: "integer"
      - name: "limit"
        in: "query"
        description: "Maximum count of assay endpoints to return (for paging)"
        required: false
        type: "integer"
        default: 10
      - name: "query"
        in: "query"
        description: "Query string for the full text search"
        required: false
        type: "string"
      - name: "chidFilter"
        in: "query"
        description: "Filter by chids (Compound ids)"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "csv"
      - name: "clibFilter"
        in: "query"
        description: "Filter by clib"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "csv"
      - name: "dssToxQCLevelFilter"
        in: "query"
        description: "Filter by the quality level filter field"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "csv"
      - name: "substanceTypeFilter"
        in: "query"
        description: "Filter by the substance type field"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "csv"
      responses:
        200:
          description: "A list of compounds and aggregations"
          schema:
            $ref: "#/definitions/Compounds"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "controllers.compound_controller"
      x-tags:
      - tag: "compound"
  /results:
    get:
      tags:
      - "result"
      summary: "Get results of compounds beeing tested on assays"
      description: "Returns a list of results with associated compound and assay data"
      operationId: "results_get"
      produces:
      - "application/json"
      parameters:
      - name: "offset"
        in: "query"
        description: "Number of assay endpoints to skip (for paging)"
        required: false
        type: "integer"
      - name: "limit"
        in: "query"
        description: "Maximum count of assay endpoints to return (for paging)"
        required: false
        type: "integer"
        default: 10
      - name: "query"
        in: "query"
        description: "Query string for the full text search"
        required: false
        type: "string"
      - name: "resultIdFilter"
        in: "query"
        description: "Filter results by result IDs"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "csv"
      - name: "chidFilter"
        in: "query"
        description: "Filter by chids (Compound ids)"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "csv"
      - name: "clibFilter"
        in: "query"
        description: "Filter by clib"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "csv"
      - name: "dssToxQCLevelFilter"
        in: "query"
        description: "Filter by the quality level filter field"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "csv"
      - name: "substanceTypeFilter"
        in: "query"
        description: "Filter by the substance type field"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "csv"
      - name: "aidFilter"
        in: "query"
        description: "Filter by assay IDs"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "csv"
      - name: "aeidFilter"
        in: "query"
        description: "Filter by assay endpoint ID (most specific assay related ID)"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "csv"
      - name: "asidFilter"
        in: "query"
        description: "Filter by study IDs"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "csv"
      - name: "cellFormatFilter"
        in: "query"
        description: "Filter by Cell Format"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "csv"
      - name: "detectionTechnologyTypeFilter"
        in: "query"
        description: "Filter by detection technology type filter"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "csv"
      - name: "intendedTargetFamilyFilter"
        in: "query"
        description: "Filter by intended target family type"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "csv"
      - name: "intendedTargetTypeFilter"
        in: "query"
        description: "Filter by intended target type"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "csv"
      - name: "organismFilter"
        in: "query"
        description: "Filter by Organism"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "csv"
      - name: "technologicalTargetTypeFilter"
        in: "query"
        description: "Filter by technological target type"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "csv"
      - name: "timepointHrFilter"
        in: "query"
        description: "Filter by Timepoint Hr"
        required: false
        type: "array"
        items:
          type: "number"
        collectionFormat: "csv"
      - name: "TissueFilter"
        in: "query"
        description: "Filter by Tissue"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "csv"
      - name: "hitcFilter"
        in: "query"
        description: "Filter by hitcall (1 = active, 0 = inactive, -1 = inconclusive)"
        required: false
        type: "array"
        items:
          type: "integer"
        collectionFormat: "csv"
      responses:
        200:
          description: "A list of results with associated compound and assay data.\
            \ Aggregations for faceted navigation."
          schema:
            $ref: "#/definitions/Results"
        default:
          description: "Unexpected error"
          schema:
            $ref: "#/definitions/Error"
      x-swagger-router-controller: "controllers.result_controller"
      x-tags:
      - tag: "result"
definitions:
  Compounds:
    type: "object"
    properties:
      total:
        type: "integer"
        description: "Total count of results with current filtering"
      compounds:
        type: "array"
        items:
          $ref: "#/definitions/Compound"
      aggregations:
        $ref: "#/definitions/CompoundAggregations"
  Compound:
    type: "object"
    properties:
      _id_:
        type: "string"
        description: "Compound unique identifier"
        title: "Compound ID"
      chid:
        type: "integer"
        description: "Internal identifier of compounds within Toxcast"
        title: "Chemical ID"
      chnm:
        type: "string"
        description: "Chemical name (as stored in ToxCast)"
        title: "Chemical name"
      casn:
        type: "string"
        description: "CAS Number as stored in Toxcast. Can be empty string if no valid\
          \ CAS number is stored in ToxCast."
        title: "CAS number"
        x-ontology: "http://edamontology.org/data_3102"
      code:
        type: "string"
        description: "Code"
        title: "Code"
      clib:
        type: "array"
        description: "Clib"
        title: "Clib"
        items:
          type: "string"
          description: ""
      dssToxSubstanceId:
        type: "string"
        description: "DSSTox Substance ID"
        title: "DSSTox substance ID"
      dssToxStructureId:
        type: "string"
        description: "DSSTox Structure ID"
        title: "DSSTox Structure ID"
      dssToxQCLevel:
        type: "string"
        description: "DSSTox Quality Control level"
        title: "DSSTox QC level"
      substanceType:
        type: "string"
        description: "Substance type (e.g. single compound, mixture, ...)"
        title: "Substance type"
      substanceNote:
        type: "string"
        description: "Substance note"
        title: "Substance note"
      structureSMILES:
        type: "string"
        description: "Smiles of the compound (source is the offical DSSTox translation\
          \ file)"
        title: "SMILES"
        x-ontology: "http://edamontology.org/format_1196"
      structureInChI:
        type: "string"
        description: "InChI of the compound (source is the offical DSSTox translation\
          \ file)"
        title: "InChI"
        x-ontology: "http://edamontology.org/format_1197"
      structureInChIKey:
        type: "string"
        description: "InChIKey of the compound (source is the offical DSSTox translation\
          \ file)"
        title: "InChIKey"
        x-ontology: "http://edamontology.org/format_1199"
      structureFormula:
        type: "string"
        description: "Chemical structure formula"
        title: "Chemical formula"
      structureMolWt:
        type: "number"
        description: "Molecular weight"
        title: "Molecular weight"
        x-nullable: true
  Assays:
    type: "object"
    properties:
      assays:
        type: "array"
        items:
          $ref: "#/definitions/Assay"
      aggregations:
        $ref: "#/definitions/AssayAggregations"
      total:
        type: "integer"
        description: "Total count of results with current filtering"
  AssayAggregations:
    type: "object"
    properties:
      cellFormat:
        $ref: "#/definitions/Aggregation"
      detectionTechnologyType:
        $ref: "#/definitions/Aggregation"
      intendedTargetFamily:
        $ref: "#/definitions/Aggregation"
      intendedTargetType:
        $ref: "#/definitions/Aggregation"
      organism:
        $ref: "#/definitions/Aggregation"
      technologicalTargetType:
        $ref: "#/definitions/Aggregation"
      timepointHr:
        $ref: "#/definitions/NumericAggregation"
      tissue:
        $ref: "#/definitions/Aggregation"
  Assay:
    type: "object"
    properties:
      _id_:
        type: "string"
        description: "Assay unique identifier"
        title: "Assay ID"
      aid:
        type: "integer"
        description: "Assay id"
        title: "Assay ID"
      acid:
        type: "integer"
        description: "Assay component id"
        title: "Assay component ID"
      aeid:
        type: "integer"
        description: "Assay endpoint id"
        title: "Assay endpoint ID"
      asid:
        type: "integer"
        description: ""
        title: "ASID"
      assaySourceName:
        type: "string"
        description: "Short name for the entity that conducted the assay"
        title: "Assay source name"
      assaySourceLongName:
        type: "string"
        description: "Long name for the entity that conducted the assay"
        title: "Assay source long name"
      assaySourceDesc:
        type: "string"
        description: "Description of the organization that performed the assay"
        title: "Assay source description"
      assayName:
        type: "string"
        description: "Short name for the assay, e.g. BSK_3C"
        title: "Assay name"
      assayDesc:
        type: "string"
        description: "Description of the assay"
        title: "Assay description"
        x-nullable: true
      timepointHr:
        type: "number"
        description: "Duration length to conduct the test portion of the assay"
        title: "Timepoint Hr"
        x-nullable: true
      organismId:
        type: "integer"
        description: "NCBI Taxonomy id of the organism"
        title: "Organism ID"
        x-ontology: "http://purl.obolibrary.org/obo/OGG_0000000015"
        x-nullable: true
      organism:
        type: "string"
        description: "Target organism"
        title: "Organism"
        x-nullable: true
      tissue:
        type: "string"
        description: "Organ-level, anatomical entity of the protein or cell used in\
          \ the assay"
        title: "Tissue"
        x-nullable: true
      cellFormat:
        type: "string"
        description: "Target cell format"
        title: "Cell format"
        x-nullable: true
      cellFreeComponentSource:
        type: "string"
        description: "Cellular or sample tissue source of the assayed gene protein"
        title: "Cell free component source"
        x-nullable: true
      cellShortName:
        type: "string"
        description: "Cell short name"
        title: "Cell short name"
        x-nullable: true
      cellGrowthMode:
        type: "string"
        description: "Cell growth mode"
        title: "Cell growth mode"
        x-nullable: true
      assayFootprint:
        type: "string"
        description: "Physical format, such as plate density, in which an assay is\
          \ performed"
        title: "Assay footprint"
        x-nullable: true
      assayFormatType:
        type: "string"
        description: "The conceptual biological and/or chemical features of the assay\
          \ system"
        title: "Assay format type"
        x-nullable: true
      assayFormatTypeSub:
        type: "string"
        description: "Assay format subtype"
        title: "Assay format subtype"
        x-nullable: true
      contentReadoutType:
        type: "string"
        description: "Throughput and information content generated"
        title: "Content readout type"
        x-nullable: true
      dilutionSolvent:
        type: "string"
        description: "The solvent used as the negative control and to solubilize the\
          \ test chemical"
        title: "Dilution solvent"
        x-nullable: true
      dilutionSolventPercentMax:
        type: "number"
        description: "Maximal amount of the dilution solvent tolerable for a particular\
          \ assay"
        title: "Dilution solvent percent Max"
        x-nullable: true
      assayComponentName:
        type: "string"
        description: "Short name containing the assay and a component readout, e.g.\
          \ BSK_3C_IL8"
        title: "Assay component name"
        x-nullable: true
      assayComponentDesc:
        type: "string"
        description: "Assay component description"
        title: "Assay component description"
        x-nullable: true
      assayComponentTargetDesc:
        type: "string"
        description: "Assay component target description"
        title: "Assay component target description"
        x-nullable: true
      parameterReadoutType:
        type: "string"
        description: "Parameter readout type"
        title: "Parameter readout type"
      assayDesignType:
        type: "string"
        description: "Assay design type"
        title: "Assay design type"
        x-nullable: true
      assayDesignTypeSub:
        type: "string"
        description: "Assay design subtype"
        title: "Assay design subtype"
        x-nullable: true
      biologicalProcessTarget:
        type: "string"
        description: "Biological process target"
        title: "Biological process target"
        x-nullable: true
      detectionTechnologyType:
        type: "string"
        description: "Detection technology type"
        title: "Detection technology type"
        x-nullable: true
      detectionTechnologyTypeSub:
        type: "string"
        description: "Detection technology subtype"
        title: "Detection technology subtype"
        x-nullable: true
      detectionTechnology:
        type: "string"
        description: "Detection technology"
        title: "Detection technology"
        x-nullable: true
      signalDirectionType:
        type: "string"
        description: "Signal direction type"
        title: "Signal direction type"
        x-nullable: true
      keyAssayReagentType:
        type: "string"
        description: "Key assay reagent type"
        title: "Key assay reagent type"
        x-nullable: true
      keyAssayReagent:
        type: "string"
        description: "Key assay reagent"
        title: "Key assay reagent"
        x-nullable: true
      technologicalTargetType:
        type: "string"
        description: "Measured chemical, molecular, cellular, or anatomical entity"
        title: "Technological target type"
        x-nullable: true
      technologicalTargetTypeSub:
        type: "string"
        description: "Measured chemical, molecular, cellular, or anatomical subtype"
        title: "Technological target subtype"
        x-nullable: true
      assayComponentEndpointName:
        type: "string"
        description: "Short name containing the assay, the component readout, and\
          \ an analysis applied, e.g. BSK_3C_IL8_up"
        title: "Assay component endpoint name"
      assayComponentEndpointDesc:
        type: "string"
        description: "Description of the assay endpoint"
        title: "Assay component endpoint description"
        x-nullable: true
      assayFunctionType:
        type: "string"
        description: "Assay function type"
        title: "Assay function type"
        x-nullable: true
      normalizedDataType:
        type: "string"
        description: "Normalized data type"
        title: "Normalized data type"
      analysisDirection:
        type: "string"
        description: "Analysis direction (used values: positive/negative)"
        title: "Analysis direction"
        x-nullable: true
      burstAssay:
        type: "boolean"
        description: "Burst assay"
        title: "Burst assay"
      keyPositiveControl:
        type: "string"
        description: "Key positive control"
        title: "Key positive control"
        x-nullable: true
      signalDirection:
        type: "string"
        description: "Signal direction (used values: loss/gain)"
        title: "Signal direction"
        x-nullable: true
      intendedTargetType:
        type: "string"
        description: "Objective chemical, molecular, cellular, pathway or anatomical\
          \ entity"
        title: "Intended target type"
        x-nullable: true
      intendedTargetTypeSub:
        type: "string"
        description: "Objective chemical, molecular, cellular, pathway or anatomical\
          \ entity"
        title: "Intended target subtype"
        x-nullable: true
      intendedTargetFamily:
        type: "string"
        description: "Target family of the objective target for the assay"
        title: "Intended target family"
        x-nullable: true
      intendedTargetFamilySub:
        type: "string"
        description: "Target sub-family of the objective target for the assay"
        title: "Intended target sub-family"
        x-nullable: true
      intendedTargetGeneId:
        type: "array"
        description: "List of target gene ids that are the objective"
        title: "Intended target gene ID"
        items:
          type: "integer"
      intendedTargetEntrezGeneId:
        type: "array"
        description: "List of target gene ids that are the objective (NCBI Entrez\
          \ gene id)"
        title: "Intended target Entrez gene ID"
        items:
          type: "integer"
      intendedTargetOfficialFullName:
        type: "array"
        description: "List of objective target offical full names"
        title: "Intended target official full name"
        items:
          type: "string"
      intendedTargetGeneName:
        type: "array"
        description: "List of objective target gene names"
        title: "Intended target gene name"
        items:
          type: "string"
      intendedTargetOfficialSymbol:
        type: "array"
        description: "List of objective target offical symbols"
        title: "Intended target official symbol"
        items:
          type: "string"
      intendedTargetGeneSymbol:
        type: "array"
        description: "List of objective target symbols"
        title: "Intended target gene symbol"
        items:
          type: "string"
      intendedTargetDescription:
        type: "array"
        description: "Objective target description"
        title: "Intended target description"
        items:
          type: "string"
      intendedTargetUniprotAccessionNumber:
        type: "array"
        description: "Objective target uniprot accesscion number"
        title: "Intended target uniprot accession number"
        items:
          type: "string"
      intendedTargetOrganismId:
        type: "array"
        description: "Intended target organism id"
        title: "Intended target organism ID"
        items:
          type: "integer"
      intendedTargetTrackStatus:
        type: "array"
        description: "Objective target track status (used values: live)"
        title: "Intended target track status"
        items:
          type: "string"
      technologicalTargetGeneId:
        type: "array"
        description: "Measured molecular target gene id"
        title: "Technological target gene ID"
        items:
          type: "integer"
      technologicalTargetEntrezGeneId:
        type: "array"
        description: "List of measured molecular target gene ids (NCBI Entrez gene\
          \ id)"
        title: "Technological target Entrez gene ID"
        items:
          type: "integer"
      technologicalTargetOfficialFullName:
        type: "array"
        description: "List of measured molecular target offical full names"
        title: "Technological target official full name"
        items:
          type: "string"
      technologicalTargetGeneName:
        type: "array"
        description: "List of technolmeasured molecularogical target gene names"
        title: "Technological target gene name"
        items:
          type: "string"
      technologicalTargetOfficialSymbol:
        type: "array"
        description: "List of measured molecular target offical symbols"
        title: "Technological target official symbol"
        items:
          type: "string"
      technologicalTargetGeneSymbol:
        type: "array"
        description: "List of measured molecular target symbols"
        title: "Technological target gene symbol"
        items:
          type: "string"
      technologicalTargetDescription:
        type: "array"
        description: "Measured molecular target description"
        title: "Technological target description"
        items:
          type: "string"
      technologicalTargetUniprotAccessionNumber:
        type: "array"
        description: "Measured molecular target uniprot accesscion number"
        title: "Technological target uniprot accession number"
        items:
          type: "string"
      technologicalTargetOrganismId:
        type: "array"
        description: "Measured molecular target organism id"
        title: "Technological target organism ID"
        items:
          type: "integer"
      technologicalTargetTrackStatus:
        type: "array"
        description: "Measured molecular target track status (used values: live)"
        title: "Technological target track status"
        items:
          type: "string"
      citationsCitationId:
        type: "array"
        description: "List of citation ids"
        title: "Citation IDs"
        items:
          type: "integer"
      citationsPmid:
        type: "array"
        description: "List of PubMed citation ids"
        title: "PubMed citation IDs"
        items:
          type: "integer"
      citationsDoi:
        type: "array"
        description: "List of citation digital object identifiers"
        title: "Citation DOIs"
        items:
          type: "string"
      citationsOtherSource:
        type: "array"
        description: "List of other source citations"
        title: "Other source citations"
        items:
          type: "string"
      citationsOtherId:
        type: "array"
        description: "Listf of other source citations ids"
        title: "Other source citation IDs"
        items:
          type: "string"
      citationsCitation:
        type: "array"
        description: "List of citation texts"
        title: "Citation texts"
        items:
          type: "string"
      citationsTitle:
        type: "array"
        description: "List of citation titles"
        title: "Citation titles"
        items:
          type: "string"
      citationsAuthor:
        type: "array"
        description: "List of citation authors"
        title: "Citation authors"
        items:
          type: "string"
      citationsUrl:
        type: "array"
        description: "List of citation URLs"
        title: "Citation URLs"
        items:
          type: "string"
      reagent:
        type: "array"
        description: ""
        title: "Reagent"
        items:
          $ref: "#/definitions/AssayReagent"
  AssayReagent:
    type: "object"
    properties:
      arid:
        type: "integer"
      reagentNameValue:
        type: "string"
      reagentNameValueType:
        type: "string"
      cultureOrAssay:
        type: "string"
  Results:
    type: "object"
    properties:
      results:
        type: "array"
        description: "Array of Result objects"
        items:
          $ref: "#/definitions/Result"
      aggregations:
        $ref: "#/definitions/ResultAggregations"
      total:
        type: "integer"
        description: "Total count of results with current filtering"
  ResultAggregations:
    type: "object"
    properties:
      compound.clib:
        $ref: "#/definitions/Aggregation"
      compound.dssToxQCLevel:
        $ref: "#/definitions/Aggregation"
      compound.substanceType:
        $ref: "#/definitions/Aggregation"
      assay.cellFormat:
        $ref: "#/definitions/Aggregation"
      assay.detectionTechnologyType:
        $ref: "#/definitions/Aggregation"
      assay.intendedTargetFamily:
        $ref: "#/definitions/Aggregation"
      assay.intendedTargetType:
        $ref: "#/definitions/Aggregation"
      assay.organism:
        $ref: "#/definitions/Aggregation"
      assay.technologicalTargetType:
        $ref: "#/definitions/Aggregation"
      assay.timepointHr:
        $ref: "#/definitions/NumericAggregation"
      assay.tissue:
        $ref: "#/definitions/Aggregation"
      result.hitc:
        $ref: "#/definitions/NumericAggregation"
  Result:
    type: "object"
    properties:
      _id_:
        type: "string"
        description: "Result unique identifier"
        title: "Result ID"
      assay:
        $ref: "#/definitions/Assay"
      compound:
        $ref: "#/definitions/Compound"
      result:
        $ref: "#/definitions/InnerResult"
  InnerResult:
    type: "object"
    properties:
      _id_:
        type: "string"
        description: "Result unique identifier"
        title: "Result ID"
      fitc:
        type: "integer"
        description: "Fit category"
        title: "Fit category"
        x-nullable: true
      hitc:
        type: "integer"
        description: "Activity or hit call, 1 indicates active"
        title: "Hit call"
        x-nullable: true
      logcMax:
        type: "number"
        description: "Level 4 id (from database) for the selected sample"
        title: "logcMax"
        x-nullable: true
      logcMin:
        type: "number"
        description: "Log base 10 of the maximum concentration tested"
        title: "logcMin"
        x-nullable: true
      m4id:
        type: "integer"
        description: "Log base 10 of the minimum concentration tested"
        title: "m4id"
        x-nullable: true
      maxMean:
        type: "number"
        description: "Maximum of the means at each concentration"
        title: "maxMean"
        x-nullable: true
      maxMed:
        type: "number"
        description: "Maximum of the medians at each concentration"
        title: "maxMed"
        x-nullable: true
      modl:
        type: "string"
        description: "Activity concentration at 10% of the modeled top value (AC10)"
        title: "modl"
        x-nullable: true
      modlAc10:
        type: "number"
        description: "Activity concentration at 10% of the modeled top value (AC10)"
        title: "modlAc10"
        x-nullable: true
      modlAcb:
        type: "number"
        description: "Activity concentration at baseline"
        title: "modlAcb"
        x-nullable: true
      modlAcc:
        type: "number"
        description: "Activity concentration at cutoff"
        title: "modlAcc"
        x-nullable: true
      modlGa:
        type: "number"
        description: "Gain AC50"
        title: "Gain AC50"
        x-nullable: true
      modlGw:
        type: "number"
        description: "Gain hill coefficient"
        title: "modlGw"
        x-nullable: true
      modlLa:
        type: "number"
        description: "Loss AC50"
        title: "Loss AC50"
        x-nullable: true
      modlLw:
        type: "number"
        description: "Loss hill coefficient"
        title: "modlLw"
        x-nullable: true
      modlRmse:
        type: "number"
        description: "Root mean square error (RMSE)"
        title: "modlRmse"
        x-nullable: true
      modlTp:
        type: "number"
        description: "Modeled top of the curve"
        title: "modlTp"
        x-nullable: true
      oldstyleAc50:
        type: "number"
        description: "oldstyleAc50"
        title: "oldstyleAc50"
        x-nullable: true
      oldstyleNegLogAc50:
        type: "number"
        description: "oldstyleNegLogAc50"
        title: "oldstyleNegLogAc50"
        x-nullable: true
      spid:
        type: "string"
        description: "Sample ID for the selected sample"
        title: "Sample ID"
        x-nullable: true
      tested:
        type: "boolean"
        description: "Whether the chemical was tested, 1 indicates tested"
        title: "Tested"
      zscore:
        type: "number"
        description: "Zscore of AC50 values based on the chemical specific cytotoxicity\
          \ distribution file"
        title: "Zscore"
        x-nullable: true
  CompoundAggregations:
    type: "object"
    properties:
      clib:
        $ref: "#/definitions/Aggregation"
      dssToxQLevel:
        $ref: "#/definitions/Aggregation"
      substanceType:
        $ref: "#/definitions/Aggregation"
  Aggregation:
    type: "object"
    properties:
      name:
        type: "string"
        description: "Aggregation name"
      filterTerm:
        type: "string"
        description: "Term used to filter the results"
      buckets:
        type: "array"
        description: "Aggregation values (buckets) and correspondig item counts"
        items:
          $ref: "#/definitions/AggregationBucket"
  AggregationBucket:
    type: "object"
    properties:
      key:
        type: "string"
        description: "Value to display to the user and use for filtering"
      doc_count:
        type: "integer"
        description: "Number of items if the current view is filtered by this additional\
          \ value"
  NumericAggregation:
    type: "object"
    properties:
      name:
        type: "string"
        description: "Aggregation name"
      filterTerm:
        type: "string"
        description: "Term used to filter the results"
      buckets:
        type: "array"
        description: "Aggregation values (buckets) and correspondig item counts"
        items:
          $ref: "#/definitions/NumericAggregationBucket"
  NumericAggregationBucket:
    type: "object"
    properties:
      key:
        type: "number"
        description: "Value to display to the user and use for filtering"
      doc_count:
        type: "integer"
        description: "Number of items if the current view is filtered by this additional\
          \ value"
  Error:
    type: "object"
    properties:
      code:
        type: "integer"
        format: "int32"
      message:
        type: "string"
      fields:
        type: "string"
parameters:
  Offset:
    name: "offset"
    in: "query"
    description: "Number of assay endpoints to skip (for paging)"
    required: false
    type: "integer"
  Limit:
    name: "limit"
    in: "query"
    description: "Maximum count of assay endpoints to return (for paging)"
    required: false
    type: "integer"
    default: 10
  SearchQuery:
    name: "query"
    in: "query"
    description: "Query string for the full text search"
    required: false
    type: "string"
  ChidFilter:
    name: "chidFilter"
    in: "query"
    description: "Filter by chids (Compound ids)"
    required: false
    type: "array"
    items:
      type: "string"
    collectionFormat: "csv"
  ClibFilter:
    name: "clibFilter"
    in: "query"
    description: "Filter by clib"
    required: false
    type: "array"
    items:
      type: "string"
    collectionFormat: "csv"
  DssToxQCLevelFilter:
    name: "dssToxQCLevelFilter"
    in: "query"
    description: "Filter by the quality level filter field"
    required: false
    type: "array"
    items:
      type: "string"
    collectionFormat: "csv"
  SubstanceTypeFilter:
    name: "substanceTypeFilter"
    in: "query"
    description: "Filter by the substance type field"
    required: false
    type: "array"
    items:
      type: "string"
    collectionFormat: "csv"
  AidFilter:
    name: "aidFilter"
    in: "query"
    description: "Filter by assay IDs"
    required: false
    type: "array"
    items:
      type: "string"
    collectionFormat: "csv"
  AeidFilter:
    name: "aeidFilter"
    in: "query"
    description: "Filter by assay endpoint ID (most specific assay related ID)"
    required: false
    type: "array"
    items:
      type: "string"
    collectionFormat: "csv"
  AsidFilter:
    name: "asidFilter"
    in: "query"
    description: "Filter by study IDs"
    required: false
    type: "array"
    items:
      type: "string"
    collectionFormat: "csv"
  CellFormatFilter:
    name: "cellFormatFilter"
    in: "query"
    description: "Filter by Cell Format"
    required: false
    type: "array"
    items:
      type: "string"
    collectionFormat: "csv"
  DetectionTechnologyTypeFilter:
    name: "detectionTechnologyTypeFilter"
    in: "query"
    description: "Filter by detection technology type filter"
    required: false
    type: "array"
    items:
      type: "string"
    collectionFormat: "csv"
  IntendedTargetFamilyFilter:
    name: "intendedTargetFamilyFilter"
    in: "query"
    description: "Filter by intended target family type"
    required: false
    type: "array"
    items:
      type: "string"
    collectionFormat: "csv"
  IntendedTargetTypeFilter:
    name: "intendedTargetTypeFilter"
    in: "query"
    description: "Filter by intended target type"
    required: false
    type: "array"
    items:
      type: "string"
    collectionFormat: "csv"
  OrganismFilter:
    name: "organismFilter"
    in: "query"
    description: "Filter by Organism"
    required: false
    type: "array"
    items:
      type: "string"
    collectionFormat: "csv"
  TechnologicalTargetTypeFilter:
    name: "technologicalTargetTypeFilter"
    in: "query"
    description: "Filter by technological target type"
    required: false
    type: "array"
    items:
      type: "string"
    collectionFormat: "csv"
  TimepointHrFilter:
    name: "timepointHrFilter"
    in: "query"
    description: "Filter by Timepoint Hr"
    required: false
    type: "array"
    items:
      type: "number"
    collectionFormat: "csv"
  TissueFilter:
    name: "TissueFilter"
    in: "query"
    description: "Filter by Tissue"
    required: false
    type: "array"
    items:
      type: "string"
    collectionFormat: "csv"
  HitcFilter:
    name: "hitcFilter"
    in: "query"
    description: "Filter by hitcall (1 = active, 0 = inactive, -1 = inconclusive)"
    required: false
    type: "array"
    items:
      type: "integer"
    collectionFormat: "csv"
  ResultIdFilter:
    name: "resultIdFilter"
    in: "query"
    description: "Filter results by result IDs"
    required: false
    type: "array"
    items:
      type: "string"
    collectionFormat: "csv"
